{% extends "blogs/base.html" %}

{% block page_header %}
  <h1>
    {{ blog.title }}

    <small>
      <a href="{% url 'blogs:edit_blog' blog.id %}"
         class="btn btn-sm btn-outline-primary ms-3">
        Edit Blog
      </a>
    </small>

    <small>
      <a href="#"
         class="btn btn-sm btn-outline-danger ms-3"
         onclick="if(prompt('Warning! This will delete the blog and ALL related posts. Type \'DELETE\' to confirm:') === 'DELETE') { document.getElementById('delete-blog-{{ blog.id }}').submit(); } return false;">
        Delete Blog
      </a>
    </small>
  </h1>

  <form id="delete-blog-{{ blog.id }}"
        action="{% url 'blogs:delete_blog' blog.id %}"
        method="post"
        style="display: none;">
    {% csrf_token %}
  </form>

  {% if blog.subtitle %}
    <p class="text-muted">{{ blog.subtitle }}</p>
  {% endif %}
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'blogs:new_blog_post' blog.id %}" class="btn btn-primary">
      Add New Post
    </a>
  </p>

  {% for post in posts %}
    <div class="card mb-3">

      <h4 class="card-header">
        {{ post.date_added|date:'M d, Y H:i' }}

        <small class="ms-3">
          <a href="{% url 'blogs:edit_blog_post' post.id %}"
             class="btn btn-sm btn-outline-primary ms-2">
            Edit Post
          </a>
        </small>

        <small class="ms-3">
          <a href="#"
             class="btn btn-sm btn-outline-danger ms-2"
             onclick="if(confirm('Are you sure you want to delete this post?')) { document.getElementById('delete-post-{{ post.id }}').submit(); } return false;">
            Delete Post
          </a>
        </small>
      </h4>

      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="card-text">{{ post.body|linebreaks }}</div>
      </div>

    </div>

    <form id="delete-post-{{ post.id }}"
          action="{% url 'blogs:delete_blog_post' post.id %}"
          method="post"
          style="display: none;">
      {% csrf_token %}
    </form>

  {% empty %}
    <p>There are no posts for this blog yet.</p>
  {% endfor %}

{% endblock content %}